html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.area {
    display: flex;
    height: 500px;
    width: 400px;
    border: 1px solid slateblue;
    background-color: #f0f0f0;
}

/* 아코디언 컴포넌트 동작 정의 */

.accordion {
    flex: 3 1 1px;
    display: flex;
    flex-direction: column;
}

/* 아코디언 아이템 닫혔을 때 */

.accordion .accordion_item {
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    transition: all 0.5s;
}

.accordion .accordion_item>button {
    display: flex;
    padding: 1rem 1.25rem;
    border: none;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 1px solid slateblue;
    overflow-anchor: none;
    background-color: rgb(255, 255, 255);
}

.accordion .accordion_item>button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: '';
    background-image: url(./svg/arrow_black.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}

.accordion .accordion_item>.accordion_content {
    display: none;
}


/* 아코디언 아이템 열렸을 때 */

.accordion .accordion_item.open {
    flex: 1 1 1px;
}

.accordion .accordion_item.open>button {
    border: 0;
    color: #413533;
    background-color: rgb(162, 152, 224);
}

.accordion .accordion_item.open>button::after {
    transform: rotate(-180deg);
}

.accordion .accordion_item.open>.accordion_content {
    display: flex;
    flex: 1 1 1px;
    overflow-y: auto;
}

.accordion .accordion_item>.accordion_content::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.accordion .accordion_item>.accordion_content::-webkit-scrollbar-track {
    background-color: transparent;
}

.accordion .accordion_item>.accordion_content::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: thistle;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    list-style: none;
    border-bottom: 1px solid slateblue;
    background-color: #ffffff;
}